@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
